{% extends "index.html" %}
<head>
	{% block title %}
	<title>Spot search for a specific Callsign</title>
	{% endblock %}
</head>
{% block titles %}
<h3 class="text-white mb-1">{{callsign}}</h3>
<p class="text-light small mb-0">Some statistics about this callsign</p>
{% endblock %}
{% block filters %}
	<div class="row  mx-auto">
{% endblock filters %}
{% block app_data %}
	{{ super() }}
	var callsign = '{{callsign}}';
{% endblock app_data %}
{% block inline_scripts %}
	<script defer src="static/js/dev/callsign_inline.js"></script>
{% endblock %}